<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">\
    <title>deep-clicker</title>
</head>
<body>
    <h1 class="welcome">!WELCOME!</h1>
    <hr>
    <h1 class="score">SCORE</h1>
        <button class="button_info">INFO</button>
    </span>
    
    <span class="shop">
        <button class="button_shop">SHOP</button>
    </span>

    <span class="button_wrapper">
        <button class="circle_button">DEEP</button>
    </span>
    
    <footer>
    <span class="reset">
        <button class="button_reset">RESET</button>
    </span>
    <hr>
    </footer>
</body>

</html>
