<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">\
    <title>deep-clicker</title>
</head>
<body>
    <h1>!WELCOME!</h1>
    <hr>
    <div class="info">
        <button class="button_info">INFO</button>
    </div>
    <div class="button_wrapper">
        <button class="circle_button">DEEP</button>
    </div>
    <hr>
</body>
</html>
